@import "tailwindcss";

:root {
  --background: #f7f1e8;
  --foreground: #2c2218;

  --color-primary: #c98b2e;
  --color-secondary: #8b5e34;
  --color-accent: #6f7d4e;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);

  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-playfair);
}